<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cliente</title>
</head>
<body>
    <header>
        <h1>Cliente</h1>
    </header>

    <SECTION>
        <header>
            <H2>Posts Cliente</H2>
        </header>

        <aticles>
            <header>
                <h3>Post #1</h3>
            </header>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <a href="https://www.lipsum.com/">Lipsum</a>
        </aticles>
    </SECTION>

    <footer>
        <ul>
            <li>Cliente1@gmail.com</li>
            <li>Cliente2@gmail.com</li>
            <li>Cliente3@gmail.com</li>
        </ul>
    </footer>



</body>
</html>